# Environment
.env
.env.local
*.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/

# Logs
logs/*.log

# Celery runtime
celerybeat-schedule*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
